// FONTS
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 320px;
    width: 100%;
    max-width: 1920px;
    height: 301px;

    margin: 0 auto;

    background-image: url(../../../assets/services/header.svg);
    background-size: cover;

    &__title {
        margin: 0px;

        width: 100%;
        max-width: 1110px;

        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 83px;

        color: #000000;

        padding: 0px 24px;
    }
}

@import './HeaderMedia.module.scss';