@media screen and (max-width: 1100px){
    .header{

        &__form{
            column-gap: 24px;
        }

        &__select__text{
            font-size: 11px;
        }

        &__info{
            column-gap: 31px;
        }

        &__search{
            width: 462px;
        }
    }
}

@media screen and (max-width: 970px){
    .header{
        padding: 0px 16px;

        &__person{
            display: none;
        }

        &__select{
            display: none;
        }

        &__search{
            width: 260px;
        }
    }
}

@media screen and (max-width: 680px){
    .header{
        margin-top: 60px;
        height: 60px;

        &__burger{
            display: unset;
        }

        &__logo{
            position: absolute;
            top: 17px;
            left: 50%;
            transform: translateX(-50%);

            &__img{
                width: 25px;
            }
        }

        &__title{
            font-size: 12px;
            line-height: 14px;

            max-width: 98px;
        }

        &__form{
            column-gap: 14px;
        }

        &__search{
            width: 158px;
        }

        &__card__img{
            width: 30px;
            height: 24px;
        }
    }

    .menu{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .header{

        &__search{
            width: 136px;
        }

        &__submit{
            width: 30px;
            height: 26px;
        }
    }
}

@media screen and (max-width: 370px) {
    .header{

        &__search{
            width: 130px;
        }
    }
}