// Font Bruno
@import url('http://fonts.cdnfonts.com/css/bruno-ace-sc');
// Font Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;

    min-width: 320px;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    min-width: 320px;
    width: 100%;
    max-width: 1134px;

    padding: 0px 24px;

    margin: 0 auto;

    height: 122px;

    &__logo {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }


    &__title {
        margin: 0px;

        max-width: 148px;

        font-family: 'Bruno Ace SC';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        color: #000000;
        text-align: left;
    }

    &__form {
        display: flex;

        column-gap: 33px;
    }

    &__search {
        display: flex;
        align-items: center;

        width: 582px;

        height: 26px;

        border: 1px solid #000000;
        border-radius: 4px;
    }

    &__select__text {
        width: 100%;
        max-width: 432px;

        height: 20px;

        outline: none;

        border: unset;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        color: #000000;

        padding: 6px 20px;

        box-sizing: border-box;

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__select {
        width: 100%;
        max-width: 130px;

        height: 26px;

        outline: none;

        border: none;
        border-left: 1px solid #000000;

        background-color: transparent;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        color: #000000;

        margin-right: 11px;

        background-image: url(../../assets/header/select.svg);
        background-repeat: no-repeat;
        background-position: center right;
    }

    &__submit {
        width: 45px;
        height: 26px;

        border-radius: 4px;
        border: none;

        background-color: #2090E8;

        background-image: url(../../assets/header/search.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__info {
        display: flex;
        flex-direction: row;
        column-gap: 60px;
        align-items: center;
    }

    &__person {
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        &__img{
            width: 38px;
            align-self: center;
        }
    }

    &__text {
        margin: 0px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        color: #000000;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4px;
    }

    &__burger {
        background-color: transparent;
        border: unset;

        display: none;
    }

    &__select {
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;

        width: 100%;
        max-width: 140px;
        height: 100%;

        border: none;

        border-left: 1px solid #000;
        padding: 0px 11px;

        background-image: url(../../assets/header/arrow.svg);
        background-repeat: no-repeat;
        background-position: center right;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        color: #000000;
    }
}

.menu {
    display: flex;
    align-items: center;

    height: 67px;

    background-color: #2090E8;

    &__list {
        display: flex;
        justify-content: space-between;

        width: 100%;
        max-width: 482px;

        margin: 0 auto;

        padding: 0px 24px;
    }

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        color: #FFFFFF;

        text-decoration: none
    }
}

@import './HeaderMedia.module.scss';